.ui-tabs-active .nav-tab {
    background-color: white;
    color: #2271B1;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}

.tcmk-tab-content {
    background-color: white;
    padding: 20px;
}

.tcmk-tab-content h4 {
    padding-bottom: 18px;
}

#tcmk-tabs li {
    margin-bottom: 0;
}

.integration-selects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.integration-selects-box {
    display: flex;
    flex-direction: column;
}

.integration-selects-box select {
    width: 400px;
}

.integration-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#logFileContent {
    margin: 0;
    padding: 2rem;
    height: 400px;
    background-color: white;
    border: 1px solid #DCDCDE;
    overflow-y: auto;
}

#settings-message-container {
    margin-top: 20px;
}